<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fundevelopment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".week_6.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".week_6.FragmentInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week_5.DebugActivity" />
        <activity android:name=".week_5.ForResultActivity2" />
        <activity android:name=".week_5.ForResultActivity1"></activity>
        <activity android:name=".week_5.activities.SecondActivity" />
        <activity android:name=".week_5.activities.FirstActivity" />
        <activity android:name=".week_5.AnimationActivity" />
        <activity android:name=".week_4.ConstraintLayoutActivity" />
        <activity android:name=".week_4.RecyclerViewActivity" />
        <activity android:name=".week_3.LoginActivity" />
        <activity android:name=".week_3.WebViewActivity" />
        <activity android:name=".week_3.ViewGroupsActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".week_3.SpinnerActivity" />
    </application>

</manifest>