<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.code_challenges.androiddeveloperfundamentals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".week_7.challenge_extras.BottomNaviationActivity"></activity>
        <activity android:name=".week_7.challenge_extras.MakePhotoActivity" />
        <activity android:name=".week_7.challenge_extras.CameraActivity" />
        <activity
            android:name=".week_7.challenge_extras.CollapsingToolbarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".week_7.challenge_extras.CodeExamplesActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week_7.challenge_4.DateTimePicker" />
        <activity
            android:name=".week_7.challenge_3.SportDetailsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".week_7.challenge_3.MainActivity"
            android:theme="@style/SportsTheme" />
        <activity
            android:name=".week_7.challenge_3.SportsNavigationDrawerActivity"
            android:label="@string/title_activity_sports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".week_7.challenge_2.BatteryActivity" />
        <activity android:name=".week_7.challenge_1.GamingActivity" />
        <activity android:name=".week_6.CodeChallenge7.MyAmazingLifeActivity" />
        <activity android:name=".week_6.Tabs.TabActivity" />
        <activity
            android:name=".week_6.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".week_6.AlbumActivity" />
        <activity android:name=".Bindings.PresentationActivity" />
        <activity android:name=".week_5.ThirdCodeChallenge.ChatSecondActivity" />
        <activity android:name=".week_5.ThirdCodeChallenge.ChatFirstActivity" />
        <activity android:name=".week_5.FourthCodeChallenge.MultiFunctionActivity" />
        <activity android:name=".week_5.SecondCodeChallenge.TextPassageSecondActivity" />
        <activity android:name=".week_5.SecondCodeChallenge.TextPassageFirstActivity" />
        <activity android:name=".week_5.FirstCodeChallenge.SecondActivityLifecycle" />
        <activity android:name=".week_5.FirstCodeChallenge.FirstActivityLifecycle" />
        <activity android:name=".week_4.HolidayActivity" />
        <activity android:name=".week_4.RecycledViewStudents.RecyclerViewActivity" />
        <activity android:name=".week_4.ViewGroupsExample" />
        <activity android:name=".week_3.SpinnerActivity" />
        <activity android:name=".week_3.FrameLayoutActivity" />
        <activity android:name=".week_3.ScrollViewActivity" />
        <activity android:name=".week_3.LoginActivity" />
        <activity android:name=".week_2.MainActivity" />
    </application>

</manifest>