<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.code_challenges.androiddeveloperfundamentals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".week_5.FourthCodeChallenge.MultiFunctionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week_5.SecondCodeChallenge.TextPassageSecondActivity" />
        <activity android:name=".week_5.SecondCodeChallenge.TextPassageFirstActivity">

        </activity>
        <activity android:name=".week_5.FirstCodeChallenge.SecondActivityLifecycle" />
        <activity android:name=".week_5.FirstCodeChallenge.FirstActivityLifecycle" />
        <activity android:name=".week_4.HolidayActivity" />
        <activity android:name=".week_4.RecycledViewStudents.RecyclerViewActivity" />
        <activity android:name=".week_4.ViewGroupsExample" />
        <activity android:name=".week_3.SpinnerActivity" />
        <activity android:name=".week_3.FrameLayoutActivity" />
        <activity android:name=".week_3.ScrollViewActivity" />
        <activity android:name=".week_3.LoginActivity" />
        <activity android:name=".week_2.MainActivity" />
    </application>

</manifest>